In [1]:
import pandas as pd, requests
import urllib.request
import bar_chart_race as bcr
import matplotlib as mpl
mpl.__version__

'3.2.2'

In [2]:
##LOAD MoH Town COVIDATA
url = 'https://data.gov.il/api/3/action/datastore_search?resource_id=8a21d39d-91e3-40db-aca1-f73f7ab1df69&limit=150000'
json = requests.get(url).json()
df = pd.DataFrame(json['result']['records'])

In [3]:
##load town data
url='https://www.cbs.gov.il/he/publications/doclib/2019/ishuvim/bycode2019.xlsx'
cbs_town = pd.read_excel(url)

In [4]:
df = df.rename(columns=lambda x:x.lower())

## use 10 instead of less than
df = df.replace('<15','10')
cols = ['city_code','cumulative_verified_cases',
       'cumulated_recovered', 'cumulated_deaths', 'cumulated_number_of_tests',
       'cumulated_number_of_diagnostic_tests']
for x in cols:
    df[x] = df[x].astype('int')
df['date']=pd.to_datetime(df.date)
# df.dtypes
# df.head()

In [5]:
town_df = cbs_town[['סמל יישוב', 'סך הכל אוכלוסייה 2019']].rename(columns={'סמל יישוב' : 'city_code',
                                                                 'סך הכל אוכלוסייה 2019' : 'pop'})
town_df['pop'] = town_df['pop'].fillna(0).astype('int')
covidf = df.merge(town_df, on='city_code')

In [6]:
# covidf_town
covidf_town = covidf[['city_code','city_name','pop']].drop_duplicates().sort_values(by='pop', ascending=False).reset_index(drop=True)

tribes = covidf_town.loc[covidf_town['pop']==0,'city_name'].unique()## len == 10
covidf_town = covidf_town.loc[~covidf_town.city_name.isin(tribes)]
covidf_town['pop'] = covidf_town['pop'].astype('int')

##SET City_Type
## City >=100,000 ; Town >=10,0000; Village < 10,000
covidf_town['city_type'] = ['City' if x >=100000 else 'Town' if x >=100000 else 'Village' for x in covidf_town['pop']]
# covidf_town[['pop']].plot.hist(bins=10)

#norm coefficients
norm_by_x = lambda x: covidf_town['pop']/x
covidf_town = covidf_town.assign(norm100k=norm_by_x(10**5), norm10k=norm_by_x(10**4), norm1k=norm_by_x(10**4))

##add city type to main COVIDF
covidf = covidf.merge(covidf_town[['city_code','city_type', 'norm100k', 'norm10k', 'norm1k']], on='city_code', how='left')

# len(covidf_town) ##261

In [7]:
covidf.columns

Index(['_id', 'city_name', 'city_code', 'date', 'cumulative_verified_cases',
       'cumulated_recovered', 'cumulated_deaths', 'cumulated_number_of_tests',
       'cumulated_number_of_diagnostic_tests', 'pop', 'city_type', 'norm100k',
       'norm10k', 'norm1k'],
      dtype='object')

In [8]:
col = 'cumulated_deaths'; city_type ='City'

0            םילשורי
1      ופי - ביבא לת
2               הפיח
3        ןויצל ןושאר
4          הווקת חתפ
           ...
256        ינבא תעבג
257        בייה תמור
258         לולת ובא
259            רסיימ
260            לאודפ
Name: city_name, Length: 261, dtype: object

In [22]:
##normalize column for city_type
def barChartDFandNameNorm(covidf=covidf, col='cumulated_deaths', city_type='City'):
    df_val = covidf.query("city_type == '{}'".format(city_type))
    k_col = 'norm100k' if city_type == 'City' else 'norm10k' if city_type == 'Town' else 'norm1k'
    df_val= df_val.assign(value=df_val[col] / df_val[k_col])
    value_name = '{}_{}_per_{}'.format(city_type.lower(), col.replace('cumulated_',''),k_col.replace('norm',''))
    
    #revert city name (hebrew)
    df_val['city_name'] = df_val['city_name'].apply(lambda x:x[::-1])
    #WIDE format
    df_bar = df_val.pivot(index='date',columns='city_name', values='value')
    # #clean and remove nulls
    df_bar.columns.name = ''
    print(value_name)
    print("number of {}: {}".format(city_type, len(df_bar.columns)))
    
    return df_bar, value_name

# df_c = df_p.dropna(how='all').dropna(how='all', axis=1).bfill().ffill()

# df_c.head()

In [23]:
df_bar, value_name = barChartDFandNameNorm()
title_name = lambda x: x.title().replace('_', ' ')
df_bar

city_deaths_per_100k
number of City: 16

,אבס רפכ,דודשא,הווקת חתפ,הינתנ,הפיח,ופי - ביבא לת,םי תב,םילשורי,ןג תמר,ןויצל ןושאר,ןולוח,ןולקשא,עבש ראב,קרב ינב,שמש תיב,תובוחר
date,,,,,,,,,,,,,,,,
2020-03-11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-03-12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-03-13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-03-14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-03-15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-09,25.633189,30.539216,17.341717,19.426072,25.585577,24.532525,61.234614,24.134341,30.584594,22.013963,29.039703,25.681604,17.645348,48.377639,8.002753,20.847231
2020-10-10,25.633189,30.539216,17.745012,19.877842,27.338014,24.532525,62.784857,24.134341,30.584594,22.013963,31.077577,26.375701,17.645348,50.332291,8.002753,21.542139
2020-10-11,25.633189,30.539216,19.761491,19.877842,28.038988,25.183831,65.885344,25.095443,31.196286,22.800176,32.605982,26.375701,18.122249,51.309617,8.002753,23.626862
2020-10-12,25.633189,30.981814,19.761491,19.877842,28.038988,26.052239,67.435587,25.415810,31.807978,23.586389,34.643856,26.375701,18.122249,52.775606,8.002753,23.626862
2020-10-13,25.633189,31.424411,19.761491,20.329611,28.389476,27.137749,67.435587,25.736177,31.807978,23.979496,34.643856,27.069798,18.122249,54.241595,8.002753,23.626862

In [17]:
mpl.rcParams['font.sans-serif'] = ['Open Sans Hebrew']
mpl.rcParams['font.size']=14

In [ ]:
bcr.bar_chart_race(df_bar, n_bars=16, figsize=(5,5),
                   filter_column_colors=True,
                   period_fmt='%B %d, %Y',
                    period_label={'x': .9, 'y': .25, 'ha': 'right', 'va': 'center'},
                   period_summary_func=lambda v, r: {'x': .9, 'y': .18,
                                      's': f'Total deaths Per 100K: {v.sum():,.0f}',
                                      'ha': 'right', 'size': 8},
                   steps_per_period=20,
                   filename='barace/{}.mp4'.format(value_name),
                   title = '{}'.format(title_name(value_name)),
                   tick_label_size=10,
                   bar_label_size=10,
                   cmap='nipy_spectral')

In [ ]:
def normCol(df, col, per=100000):
    df['pop']
    col =

In [164]:
['City' if x >=100,000 else 'Town' if x >=10,0000 else 'Village' for x in covidf_town['pop']]

SyntaxError: invalid syntax (<ipython-input-164-9ca0c543b2fa>, line 1)

In [73]:
## covid town population
df.mer

,_id,City_Name,City_Code,Date,Cumulative_verified_cases,Cumulated_recovered,Cumulated_deaths,Cumulated_number_of_tests,Cumulated_number_of_diagnostic_tests
0,1,אבו ג'ווייעד (שבט),967,2020-03-11,0,0,0,0,0
1,2,אבו ג'ווייעד (שבט),967,2020-03-12,0,0,0,0,0
2,3,אבו ג'ווייעד (שבט),967,2020-03-13,0,0,0,0,0
3,4,אבו ג'ווייעד (שבט),967,2020-03-14,0,0,0,0,0
4,5,אבו ג'ווייעד (שבט),967,2020-03-15,0,0,0,0,0

In [51]:
df['Date'] = pd.to_datetime(df['Date'])
latest_date = df['Date'].max()

In [60]:
current_deaths = df.loc[df['Date']==latest_date, ['City_Name', 'Cumulated_deaths']].reset_index(drop=True)

In [67]:
current_deaths_mt15 = current_deaths.loc[~current_deaths['Cumulated_deaths'].isin(['0','<15'])]
current_deaths_mt15['Cumulated_deaths'] = current_deaths_mt15['Cumulated_deaths'].astype('int')
current_deaths_mt15.sort_values(by='Cumulated_deaths', ascending=False)

C:\Users\eliav\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         City_Name  Cumulated_deaths
113        ירושלים               241
266  תל אביב - יפו               125
49         בני ברק               111
57           בת ים                87
92            חיפה                81
31           אשדוד                71
89           חולון                68
243    ראשון לציון                61
251         רמת גן                52
214      פתח תקווה                49
250           רמלה                49
180          נתניה                45
88            חדרה                42
32          אשקלון                39
35         באר שבע                38
247         רחובות                34
254          רעננה                28
134        כפר סבא                26
84          הרצליה                25
140            לוד                24
231        קרית גת                22
200          עפולה                22
33   באקה אל-גרביה                19
96           טבריה                15
9       אום אל-פחם                15